$contents_width: 1200px;
$contents_horizontal_padding: 10px;

html, body {
  min-width: $contents_width + $contents_horizontal_padding * 2;
  width: 100%;
  margin: 0 auto;
}

* {
  box-sizing: border-box;
}

header {
  height: 90px;
  display: flex;
  align-items: center;
}

section, h2, p {
  padding: 0;
  margin: 0;
}

.company-name {
  display: inline-block
}

.container {
  min-width: $contents_width + $contents_horizontal_padding * 2;
  padding: 0 $contents_horizontal_padding;
}

.description {
  opacity: 0.6;
  font-size: 20px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: -1.5px;
  color: #202020;
}

.top-cta {
  color: #ffffff;
  text-align: center;
  padding-top: 60px;
}

.center {
  margin: 0 auto;
}

.table-cell-group {
  display: table;
}

.table-cell-group > * {
  display: table-cell;
}

.text-left {text-align: left;}
.text-right {text-align: right;}

.mt3 {margin-top: 3px;}
.mt20 {margin-top: 20px;}
.mt26 {margin-top: 26px;}
.mt50 {margin-top: 50px;}
.mt80 {margin-top: 80px;}
.mt90 {margin-top: 90px;}
.mt110 {margin-top: 110px;}
.mt130 {margin-top: 130px;}
.mt146 {margin-top: 146px;}
.mt199 {margin-top: 199px;}

.mr20 {margin-right: 20px;}
.mr22 {margin-right: 22px;}

.pt40 {padding-top: 40px;}

.pr142 {padding-right: 142px;}
.pr190 {padding-right: 190px;}
.pl360 {padding-left: 360px;}
.pr360 {padding-right: 360px;}


.MDwalks-EXI-Cardiac-Title {
  height: 73px;
  font-family: Muli;
  font-size: 58px;
  font-weight: 800;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: -1.5px;
  text-align: center;
  color: #ffffff;
}

.subtitle-wrapper {
  margin-top: 30px;
  margin-bottom: 50px;
  width: 100%;
  height: 200px;
}

.subtitle-text {
  width: 588px;
  height: 104px;
  font-family: 'Spoqa Han Sans';
  font-size: 32px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.63;
  letter-spacing: -1.5px;
  text-align: center;
  color: #bdc5cc;
}



.demo-btn {
  width: 314px;
  height: 64px;
  border-radius: 32px;
  box-shadow: 0 8px 16px 0 rgba(0, 45, 79, 0.8);
  background-color: #189bff;

  .demo-btn-text {
    padding-top: 15px;
  }

  a {
    width: 230px;
    height: 33px;
    font-size: 22px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: -1.5px;
    text-align: center;
    color: #ffffff;
  }

  a:hover{
    text-decoration: none;
  }
}

.frame_movie {
  width: 1120px;
  height: 630px;
  object-fit: contain;
  box-shadow: 0 20px 60px 0 rgba(6, 39, 64, 0.24);
}

.EXI-cardio {
  font-family: Muli;
  font-size: 48px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: -1.5px;
  color: #202020;
}
.EXI-cardio .text-style-1 {
  color: #189bff;
}
.EXI-cardio .text-style-2 {
  font-family: 'Spoqa Han Sans';
}

.EXI-cardio-solution {
  font-family: 'Spoqa Han Sans';
  font-size: 54px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: -2.5px;
  text-align: right;
  color: #202020;
}

.img_page01 {
  width: 1449px;
  height: 687px;
  background-image: url("/images/img-page-01.png");
  background-position-x: 111px;
  background-repeat: no-repeat;
  background-size: 1449px 687px;

  @media (-webkit-min-device-pixel-ratio: 2),
  (min-resolution: 192dpi) {
    & {
      background-image: url("/images/img-page-01@2x.png");
    }
  }
}

.img_page02 {
  width: 1394px;
  height: 687px;
  position: relative;

  img {
    position: absolute;
    left: -360px;
  }
}

.img_page03 {
  width: 1560px;
  height: 687px;
  background-image: url("/images/img-page-03.png");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: 1560 687px;

  @media (-webkit-min-device-pixel-ratio: 2),
  (min-resolution: 192dpi) {
    & {
      background-image: url("/images/img-page-03@2x.png");
    }
  }
}

.tech {
  margin-top: 110px;
}

.icon_img {
  width: 210px;
  height: 200px;
  object-fit: contain;
}

.icon_text {
  margin-top: 60px;
  height: 84px;
  font-family: 'Spoqa Han Sans';
  font-size: 26px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.62;
  letter-spacing: -1.5px;
  text-align: center;
  color: #303030;
}

.icon_text .text-style-1 {
  font-weight: bold;
}

.bottom-cta {
  background-color: #072644;
  color: #fff;
  padding: 0 0 50px;
  margin-top: -2px;
}

.bottom-cta-top {
  height: 130px;
  background-image: url("/images/page-05-bg.svg");
  background-position: center bottom;
  background-repeat: no-repeat;
  background-size: 100% 130px;
}

.bottom-cta-bar {
  width: 1200px;
  height: 2px;
  opacity: 0.14;
  margin: 116px auto 0;
  background-color: #ffffff;
}

.customers {
  margin-bottom: 90px;
  width: 95px;
  height: 38px;
  font-family: SpoqaHanSans;
  font-size: 26px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: -1.5px;
  text-align: center;
  color: #b8cedf;
}

.customer_logo_wt {
  width: 258px;
  height: 56px;
  object-fit: contain;
}

.footer {
  height: 168px;
}

.footer section {
  display: flex;
  align-items: center;
}

.footer section > *:last-child {
  margin-left: auto;
}

.footer_logo {
  width: 89px;
  height: 32px;
  object-fit: contain;
}

.terms-privacy  {
  opacity: 0.8;
  font-size: 14px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: -1px;
  color: #ffffff;
}

.copyright {
  opacity: 0.6;
  font-family: Muli;
  font-size: 14px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: -1px;
  text-align: right;
  color: #ffffff;
}

@mixin keyframes($name) {
  @-webkit-keyframes #{$name} {
    @content;
  }
  @-moz-keyframes #{$name} {
    @content;
  }
  @-ms-keyframes #{$name} {
    @content;
  }
  @keyframes #{$name} {
    @content;
  }
}

@mixin transform($transforms) {
     -moz-transform: $transforms;
       -o-transform: $transforms;
      -ms-transform: $transforms;
  -webkit-transform: $transforms;
          transform: $transforms;
}

.hidden-fade-in {
  opacity: 0;
}

@include keyframes(fade-in) {
  from {opacity: 0; @include transform(scale(.7,.7))}
  to {opacity: 1;}
}

.hidden-fade-in-up {
  opacity: 0;
}

@include keyframes(fade-in-up) {
  from {
    transform: translate3d(0,80px,0);
    opacity: 0;
  }

  to {
    transform: translate3d(0,0,0);
    opacity: 1
  }
}

.fade-in-element {
  animation: fade-in 1.4s;
}

.fade-in-up-element {
  animation: fade-in-up 1.4s;
}