.top-cta {
	color: #ffffff;
	text-align: center;
	background-color: #072644;
	padding-top: 50px;

	p {
		color: #fff;
	}
}

.center {
  margin: auto;
  // width: 50%;
  // padding: 10px;
}

.MDwalks-EXI-Cardiac-Title {
  width: 841px;
  height: 73px;
  font-family: Muli;
  font-size: 58px;
  font-weight: 800;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: -1.5px;
  text-align: center;
  color: #ffffff;

  
}

.subtitle-wrapper {
  margin-top: 30px;
  margin-bottom: 50px;
  width: 1920px;
  height: 200px;
  background-color: #072644;
}

.subtitle-text {
  width: 588px;
  height: 104px;
  font-family: SpoqaHanSans;
  font-size: 32px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.63;
  letter-spacing: -1.5px;
  text-align: center;
  color: #bdc5cc;
}



.demo-btn {
  width: 314px;
  height: 64px;
  border-radius: 32px;
  box-shadow: 0 8px 16px 0 rgba(0, 45, 79, 0.8);
  background-color: #189bff;

  .demo-btn-text {
    padding-top: 15px;
  }

  a {
    
    width: 230px;
    height: 33px;
    // font-family: Muli;
    font-size: 22px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: -1.5px;
    text-align: center;
    color: #ffffff;
  }

  a:hover{
    text-decoration: none;
  }
}

.bg_pattern_main {
  width: 1920px;
  height: 620px;
  object-fit: contain;
  background-image: "images/bg-pattern-main.svg"
}

.frame_movie {
  width: 1120px;
  height: 630px;
  object-fit: contain;
  box-shadow: 0 20px 60px 0 rgba(6, 39, 64, 0.24);
}

.EXI-cardio {
  width: 350px;
  height: 71px;
  font-family: Muli;
  font-size: 48px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: -1.5px;
  color: #202020;
}
.EXI-cardio .text-style-1 {
  color: #189bff;
}
.EXI-cardio .text-style-2 {
  font-family: SpoqaHanSans;
}

.EXI-cardio-solution {
  width: 310px;
  height: 80px;
  font-family: SpoqaHanSans;
  font-size: 54px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: -2.5px;
  text-align: right;
  color: #202020;
}

.img_page01 {
  width: 1449px;
  height: 687px;
  object-fit: contain;
}

.img_page02 {
  width: 1256px;
  height: 687px;
  object-fit: contain;
}

.img_page03 {
  width: 1559.5px;
  height: 687px;
  object-fit: contain;
}


.tech {
  margin-top: 110px;
}

.icon_img {
  width: 210px;
  height: 200px;
  object-fit: contain;
}

.icon_text {
  margin-top: 60px;
  width: 210px;
  height: 84px;
  font-family: SpoqaHanSans;
  font-size: 26px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.62;
  letter-spacing: -1.5px;
  text-align: center;
  color: #303030;
}

.icon_text .text-style-1 {
  font-weight: bold;
}

.bottom-cta {
	background-color: #072644;
	color: #fff;
	text-align: center;
	margin: 0;
	padding: 130px 0;

	h2 {
		margin-bottom: 50px;
	}
}

.customers {
  margin-bottom: 90px;
  width: 95px;
  height: 38px;
  font-family: SpoqaHanSans;
  font-size: 26px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: -1.5px;
  text-align: center;
  color: #b8cedf;
}

.customer_logo_wt {
  width: 258px;
  height: 56px;
  object-fit: contain;
}

.footer {
  height: 168px;

}

.footer_logo {
  width: 89px;
  height: 32px;
  object-fit: contain;
}

.terms-privacy  {
  margin-top: 46px;
  width: 48px;
  height: 20px;
  opacity: 0.8;
  font-family: SpoqaHanSans;
  font-size: 14px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: -1px;
  color: #ffffff;
}

.copyright {
  width: 294px;
  height: 18px;
  opacity: 0.6;
  font-family: Muli;
  font-size: 14px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: -1px;
  text-align: right;
  color: #ffffff;
}


@media #{$desktop} {
	.flex {
		@include flexbox;
		align-items: center;
		flex-direction: row;

		.text, .image {
			-webkit-flex: 1;
			flex: 1;
			padding: 0 20px;
		}
	}

	.content section:nth-child(even) .flex {
		flex-direction: row-reverse;
	}
}
